

@font-face {
    font-family: "IBMPlexSansArabic-Light";
    src: url("../webfonts/IBM plex/IBMPlexSansArabic-Light.ttf") format("truetype") , url("../webfonts/IBM plex/IBMPlexSansArabic-Light.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSansArabic-Regular";
    src: url("../webfonts/IBM plex/IBMPlexSansArabic-Regular.ttf") format("truetype") , url("../webfonts/IBM plex/IBMPlexSansArabic-Regular.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "IBMPlexSansArabic-SemiBold";
    src: url("../webfonts/IBM plex/IBMPlexSansArabic-SemiBold.ttf") format("truetype") , url("../webfonts/IBM plex/IBMPlexSansArabic-SemiBold.woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSansArabic-Medium";
    src: url("../webfonts/IBM plex/IBMPlexSansArabic-Medium.ttf") format("truetype") , url("../webfonts/IBM plex/IBMPlexSansArabic-Medium.woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "IBMPlexSansArabic-Bold";
    src: url("../webfonts/IBM plex/IBMPlexSansArabic-Bold.ttf") format("truetype") , url("../webfonts/IBM plex/IBMPlexSansArabic-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}






